@model SignUpViewModel 
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
<div class="agileits-top">
	<form asp-action="SignUp" method="post">

		<input class="text" style="margin-bottom:10px"  type="text" asp-for="FirstName" placeholder="First Name" required="">
		<input class="text" style="margin-bottom:10px" type="text" asp-for="LastName" placeholder="Last Name" required="">
		<input class="text" style="margin-bottom:10px" type="text" asp-for="UserName" placeholder="Username" required="">

		<input class="text" style="margin-bottom:10px" asp-for="Email" placeholder="Email" required="">
			<input class="text" type="password" style="margin-bottom:10px" asp-for="Password" placeholder="Password" required="">
		<input class="text" type="password" style="margin-bottom:10px" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">

		<div class="wthree-text">
			<label class="anim">
				<input type="checkbox" class="checkbox" asp-for="IsAgree" required="">
				<span>I Agree To The Terms & Conditions</span>
			</label>
			<div class="clear"> </div>
		</div>
		<div asp-validation-summary="All"></div>
		<input type="submit" value="SIGNUP">
	</form>
	<p>Do you have an Account? <a href="/Account/LogIn"> Login Now!</a></p>
</div>

</div>