@model EmployeeDetailsDto

<h1>Employee @Model.Name Details</h1>

<partial name="Partials/_DeleteDetailsPartial" model="Model" />
    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back To list</a>
    </div>


